/* --------- GLOBAL STYLES ------------ */
:root {
    --bg: #eee;
    --secondary-bg: white;
    --main-accent: #6564DB;
    --accent2: #101D42;
    --accent3: #8E1F33;
    --accent4: #92B28E;
}

html {
    width: 100%;
    height:100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Baloo Da 2', cursive;
    scroll-behavior: smooth;
}
body {
    background: var(--bg);
    width: 100%;
    height:100%;
    padding: 0;
    margin: 0;
}
a {
    transition: 0.2s ease all;
    text-decoration: none;
    color: var(--main-accent)
}
a:hover {
    cursor: pointer;
    color: var(--accent3);
    transform: translateY(-3px);
}
form {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
input {
    -webkit-appearance: none;
    height: 25px;
    width: 50%;
    background: var(--secondary-bg);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-box-shadow: 0px 2px 17px -2px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 2px 17px -2px rgba(0,0,0,0.48);
    box-shadow: 0px 2px 17px -2px rgba(0,0,0,0.48);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
}
input:nth-of-type(2) {
    background: var(--main-accent);
    color: white;
}
/* --------- NAVIGATION ------------ */
.nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 5;
    -webkit-box-shadow: 0px 2px 17px -2px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 2px 17px -2px rgba(0,0,0,0.48);
    box-shadow: 0px 2px 17px -2px rgba(0,0,0,0.48);
    background: var(--secondary-bg);
}
.nav h1 {
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 1.5rem;
    color: var(--accent2);
}
.nav h1 i {
    margin: 0 7px;
    animation: rotate 7s infinite;
}
@keyframes rotate {
    0% {transform: rotate(0deg) translateY(0)}
    50% {transform: rotate(180deg) translateY(7px)}
    100% {transform: rotate(360deg) translateY(0)}
}
.nav i {
    font-size: 2rem;
    color: var(--main-accent);
}
.socials {
    display: flex;
    align-items: center;
    margin-right: 50px;
    font-size: 1.5rem;
    color: var(--accent2);
}
.socials a {
    padding: 10px;
    display: flex;
    align-items: center;
}
/* --------- GENERAL COMPONENT STYLES ------------ */
.dashboard {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 100px 0 50px 0;
    position: relative;
    width: 100%;
}
.component {
    -webkit-box-shadow: 0px 2px 17px -2px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 2px 17px -2px rgba(0,0,0,0.48);
    box-shadow: 0px 2px 17px -2px rgba(0,0,0,0.48);
    background: rgba(250,250,250,0.9);
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    overflow-y: scroll;
    margin: 10px;
    z-index: 4;
}
.component i {
    color: var(--main-accent);
    margin: 0 10px;
}
.card-title {
    position: sticky;
    top: 0;
    border-radius: 15px;
    background: var(--secondary-bg);
    padding: 5px;
    -webkit-box-shadow: 0px 3px 21px -8px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 3px 21px -8px rgba(0,0,0,0.45);
    box-shadow: 0px 3px 21px -8px rgba(0,0,0,0.45);
}
.search-title {
    position: sticky;
    top: 0;
    border-radius: 15px;
    background: var(--secondary-bg);
    padding: 5px;
    -webkit-box-shadow: 0px 3px 21px -8px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 3px 21px -8px rgba(0,0,0,0.45);
    box-shadow: 0px 3px 21px -8px rgba(0,0,0,0.45);
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.search-title h2 {
    margin: 0 0 0 0;
}

/* --------- COUNTRY COMPONENT ------------ */
.country, .statistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--bg);
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px;
}
.country:nth-of-type(even) {
    background: var(--bg);
}
.name {
    color: var(--accent2);
}
.count {
    color: var(--main-accent);
}
.global-statistics, .country-list, .country-search {
    width: 45%;
    height: 80vh;
}


/* --------- GLOBAL COMPONENT ------------ */
.stat {
    color: var(--accent2);
}
.stat-num {
    color: var(--accent3);
}
.new-num {
    color: var(--accent4);
}
/* --------- GRAPHS COMPONENT ------------ */
.graphs {
    width: 45%;
    height: 80vh;
}
/* -------- COUNTRY SEARCH ----------- */
.searched-country {
    text-align: center;
    font-size: 1.25rem;
    margin-top: 50px;
    font-weight: bold;
    background: var(--bg);
    border-radius: 15px;
    padding: 10px;
}
.searched-country .heading {
    margin: 0;
    padding: 0;
}
/* --------- RESOURCES COMPONENT ------------ */
.resources {
    width: 93%;
    height: 20vh;
}


/* --------- FOOTER ------------ */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    height: 80px;
    width: 100%;
}
.footer p {
    margin: 5px 0 0 0;
}

@media only screen and (max-width: 1200px) {
    .global-statistics, .country-list, .graphs, .country-search, .resources {
        width: 80%;
    }
    .graphs {
        height: auto;
    }
}

@media only screen and (max-width: 730px) {
    .search-title {
        justify-content: space-between;
    }
    form {
        width: 50%;
    }
}
@media only screen and (max-width: 600px) {
    .search-title {
        display: block
    }
    form {
        flex-direction: column;
        width: 100%;
    }
    input {
        width: 75%;
        margin: 10px 0;
    }
    input:nth-of-type(2) {
        width: 50%;
    }
    .card-title, .search-title h2 {
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .nav h1 {
        margin-left: 10px;
        font-size: 1.25rem;
    }
    .nav h1 i {
        font-size: 1.5rem;
    }
    .socials {
        margin-right: 10px;
    }
    .socials i {
        font-size: 1.25rem;
    }
}




/* --------- VIRUS ANIMATION ------------- */
/* KEYFRAMES */

@-webkit-keyframes animateVirus{
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateVirus {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateVirus {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}
.background-wrap {
    bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}
.background-wrap svg {
    width: 100px;
    height: 100px;
}
/* ANIMATIONS */

.x1 {
	-webkit-animation: animateVirus 35s linear infinite;
	-moz-animation: animateVirus 35s linear infinite;
	animation: animateVirus 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateVirus 20s linear infinite;
	-moz-animation: animateVirus 20s linear infinite;
	animation: animateVirus 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateVirus 30s linear infinite;
	-moz-animation: animateVirus 30s linear infinite;
	animation: animateVirus 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateVirus 18s linear infinite;
	-moz-animation: animateVirus 18s linear infinite;
	animation: animateVirus 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateVirus 25s linear infinite;
	-moz-animation: animateVirus 25s linear infinite;
	animation: animateVirus 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}
.x6 {
	-webkit-animation: animateVirus 20s linear infinite;
	-moz-animation: animateVirus 20s linear infinite;
	animation: animateVirus 20s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}
.x7 {
	-webkit-animation: animateVirus 15s linear infinite;
	-moz-animation: animateVirus 15s linear infinite;
	animation: animateVirus 15s linear infinite;
	
	-webkit-transform: scale(0.50);
	-moz-transform: scale(0.50);
	transform: scale(0.50);
}
.x8 {
	-webkit-animation: animateVirus 27s linear infinite;
	-moz-animation: animateVirus 27s linear infinite;
	animation: animateVirus 27s linear infinite;
	
	-webkit-transform: scale(0.23);
	-moz-transform: scale(0.23);
	transform: scale(0.23);
}
.x9 {
	-webkit-animation: animateVirus 42s linear infinite;
	-moz-animation: animateVirus 42s linear infinite;
	animation: animateVirus 42s linear infinite;
	
	-webkit-transform: scale(0.58);
	-moz-transform: scale(0.58);
	transform: scale(0.58);
}

/* ----------------- LOADING ------------------ */
.loader {
    color: var(--accent3);
    font-size: 20px;
    margin: 125px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    display: block;
  }
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }