    
    <div class='footer'>
        <p>Application by <a href="https://www.BranonConor.com" title="Branon Conor">Branon Conor Eusebio</a> from <a href="https://www.axncreative.com" title="AXN Creative">the AXN Creative</a></p>
        <p>Data from <a href="https://api-sports.io/documentation/covid-19#section/Introduction" title="COVID-19 API">COVID-19 API</a> by <a href="#" title="API Sports">API Sports</a></p>
        <p>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
    </div>

    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/8e3de40b11.js" crossorigin="anonymous"></script>
    <script src='/assets/index.js'></script>
</body>
</html>